<div class="div">
 <h1 class="head">Student Dashboard</h1>
 <div class="l"><input #INPUT1  [(ngModel)]="name" class="hh" type ="text"/> 
 <input #INPUT2 [(ngModel)]="score" class="hh" type = "text" /></div>
 
 <div><button (click)="onClick()" class="but">Add student</button>
</div>
 <ul   *ngIf="isTrue" >
    <li class="head" *ngFor="let i of list" >
<p [ngStyle]="{'color' : i.score ==='A' ? 'green' : i.score === 'B' ? 'yellow' : 'red'}">
            {{i.name}} - {{i.score}} - (<span [ngSwitch]="i.score"> 
            <span *ngSwitchCase="'A'">🧑‍🎓 Excellent</span>
            <span *ngSwitchCase="'B'"> 🫡 Good</span>
            <span *ngSwitchCase="'C'"> 👎 Needs improvement</span>
            <span *ngSwitchDefault>❌ Not Worthyy </span>
        </span>)</p>
        
    </li>
 </ul>
</div>
