.div{
    display: flex;
    flex-direction: column;
}
.bar{
    width:200px;
    height:20px;
    
}
.bar:hover{
    border-color:red ;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.but{
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    color: black;
}